$color1: rgb(255, 255, 255);
$color2: rgb(226, 226, 237);
$color2b: rgb(186, 186, 195);
$color3: rgb(67, 90, 134);
$color4: rgb(22, 34, 85);
$color5: rgb(7, 15, 33);

$color-error: rgb(206, 18, 18);
$color-success: rgb(54, 122, 5);

$color-surgery: rgb(213, 175, 249);
$color-pacu: rgb(251, 219, 190);
$color-exit: rgb(167, 223, 200);