@import 'variables';

body {
    background-color: $color3;
    padding-top: 50px;
}

.box {
    width: min(250px, 50%);
    background-color: $color1;
    color: $color5;

    margin: 50px auto;
    padding: 40px;
    display: grid;
    justify-content: center;

    border: 1px gradient(rgb(206, 206, 206), rgb(175, 177, 180));
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(136, 136, 136);

    h2 {
        color: $color4;
        font-variant: small-caps;
        margin-top: -5px;
        text-align: center;
    }

    &.box--error > h2 {
        color: $color-error;
        + p { margin: -7px auto; }
    }
}

.locations {
    width: min(750px, 70%);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    padding: 50px 30px;
    background-color: $color1;
    display: grid;
    justify-content: center;
    gap: 50px 100px;
    user-select: none;

    div {
        width: 150px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $color2;
        padding: 10px 20px;
        border: 1px solid $color3;
        border-radius: 10px;

        &:hover {
            background-color: $color2b;
            cursor: pointer;
            border-color: $color4;
        }

        &:active {
            background-color: $color3;
            color: $color1;
            border-color: $color2b;
        }
    }
}