@import 'variables';

body {
    background-color: $color3;
    padding-top: 50px;
}

.box {
    width: min(250px, 50%);
    background-color: $color1;
    color: $color5;

    margin: 50px auto;
    padding: 40px;
    display: grid;
    justify-content: center;

    border: 1px gradient(rgb(206, 206, 206), rgb(175, 177, 180));
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(136, 136, 136);

    h2 {
        color: $color4;
        font-variant: small-caps;
        margin-top: -5px;
        text-align: center;
    }

    &.box--error > h2 {
        color: $color-error;
        + p { margin: -7px auto; }
    }
}

.button {
    width: 150px;
    height: 27px;
    margin: 0 auto;
    line-height: 27px;
    text-align: center;
    background-color: $color2;
    padding: 10px 20px;
    border: 1px solid $color3;
    border-radius: 10px;

    &:hover {
        background-color: $color2b;
        cursor: pointer;
        border-color: $color4;
    }

    &:active {
        background-color: $color3;
        color: $color1;
        border-color: $color2b;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        background-color: $color-tooltip;
        box-shadow: 0 1px 4px $color1;
        color: $color1;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        width: 110px;
        bottom: 150%;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $color-tooltip transparent transparent transparent;
          }
    }

    &:not(.disabled):hover .tooltiptext { visibility: visible; }
}