@import 'variables';

.locations {
    width: min(750px, 70%);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    padding: 50px 30px;
    background-color: $color1;
    display: grid;
    justify-content: center;
    gap: 50px 100px;
    user-select: none;

    div {
        width: 150px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $color2;
        padding: 10px 20px;
        border: 1px solid $color3;
        border-radius: 10px;

        &:hover {
            background-color: $color2b;
            cursor: pointer;
            border-color: $color4;
        }

        &:active {
            background-color: $color3;
            color: $color1;
            border-color: $color2b;
        }
    }
}

@mixin icon($img, $width: 25px, $height: $width) {
    content: '';
    margin: 0 7px -2.5px 7px;
    background-image: url($img);
    background-size: $width $height;
    background-position: center;
    display: inline-block;
    width: $width;
    height: $height;
    filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%);
}

.board {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    padding: 10px 50px;
    background-color: $color2;
    user-select: none;

    display: grid;
    grid-template-columns: 25% 15% auto 200px;
    grid-template-rows: 150px auto;
    grid-template-areas:
        "icon title title time"
        "videos videos patients patients";

    text-align: center;

    div {
        line-height: 120px !important;
        color: $color4;

        div { line-height: 100px !important; }
    }

    .icon {
        grid-area: icon;
        @include icon('icon', 100%, 100%);
        margin: 10px;
    }

    .title {
        grid-area: title;
        font: bold small-caps 56px Georgia, serif;
    }

    .time {
        grid-area: time;
        padding: 45px 0;
        font: bold 22px Georgia, sans;
        line-height: 30px !important;
    }

    .videos {
        grid-area: videos;
        margin: 40px 15px 30px 15px;
        background-color: blueviolet;
        color: white;
    }
}

@mixin white-gradient {
	background: linear-gradient(to bottom,  rgba(226,226,237,1) 0%,rgba(226,226,237,0) 100%);
}

// Styling
#patients {
    width: 95%;
    margin: 0 auto;
    grid-area: patients;
    overflow-y: hidden;
    position: relative;

    .patient {
        display: grid;
        grid-template-columns: min(350px, 30%) min(250px, 20%) auto;
        grid-template-rows: 45px auto;
        grid-template-areas:
            "rips time status"
            "rips time detail";
        
        background-color: $color1;
        border: 2px solid $color2b;
        border-radius: 10px;
        box-shadow: 4px 3px 10px $color3;

        margin: 5px 10px;

        div {
            margin: -22.5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .--patient-rips {
            grid-area: rips;
            font: bold 38px Georgia, serif;
            color: $color4;

            &::before { @include icon('/static/svg/person.svg', 30px); }
        }

        .--patient-time {
            grid-area: time;
            font: bold 24px Georgia, sans;
            color: $color3;
        }

        .--patient-status {
            grid-area: status;
            font: bold small-caps 28px Georgia, serif;
        }

        .--patient-detail {
            grid-area: detail;
            font: 18px Georgia, sans;
            margin: -27.5px 0;

            .--destino::before {
                font-weight: bold;
                content: 'Destino: ';
            }

            .--detail-familiar::before {
                color: red;
                font-weight: bold;
                content: 'Se requiere al familiar';
            }
        }

        &.--surgery {
            background-color: $color-surgery;
            box-shadow: 4px 3px 10px $color-surgery;
            .--patient-status::before { @include icon('/static/svg/surgery.svg'); }
        }
        &.--pacu {
            background-color: $color-pacu;
            box-shadow: 4px 3px 10px $color-pacu;
            .--patient-status::before { @include icon('/static/svg/pacu.svg'); }
        }
        &.--exit {
            background-color: $color-exit;
            box-shadow: 4px 3px 10px $color-exit;
            .--patient-status::before { @include icon('/static/svg/exit.svg'); }
        }
    }

	//&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 25px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	
	&::after {
		left: 0;
		bottom: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
}