@import 'variables';

$title-height: 125px;

.board {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    padding: 10px 50px;
    border-radius: 15px;
    background-color: $color2;
    user-select: none;

    display: grid;
    grid-template-columns: 30% 15% auto 200px;
    grid-template-rows: 125px 10px auto;
    grid-template-areas:
        "icon title title time"
        "videos videos . ."
        "videos videos patients patients";

    text-align: center;

    > div {
        line-height: $title-height !important;
        color: $color4;
    }

    .icon {
        grid-area: icon;
        @include icon('/static/svg/Clinica-Versalles.svg', 100%);
        margin: 10px;
    }

    .title {
        grid-area: title;
        font: bold small-caps 56px Georgia, serif;
    }

    .time {
        grid-area: time;
        font: bold 26px Georgia, sans;
        line-height: 30px !important;
        padding-top: calc($title-height / 2 - 30px);
    }

    .videos {
        grid-area: videos;
        margin: 40px 15px 30px 15px;
        background-color: blueviolet;
        color: white;
    }
}

// Styling
#patients {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    grid-area: patients;
    overflow-y: hidden;
    position: relative;

    .patient {
        display: grid;
        grid-template-columns: min(225px, 30%) min(250px, 20%) auto;
        grid-template-rows: 45px auto;
        grid-template-areas:
            "rips time status"
            "rips time detail";
        
        background-color: $color1;
        border: 2px solid $color2b;
        border-radius: 10px;
        box-shadow: 4px 3px 10px $color3;

        margin: 5px 10px;

        div {
            margin: -22.5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .--patient-rips {
            grid-area: rips;
            font: bold 38px Georgia, serif;
            color: $color4;

            &::before { @include icon('/static/svg/person.svg', 30px); }
        }

        .--patient-time {
            grid-area: time;
            font: bold 24px Georgia, sans;
            white-space: nowrap;
            color: $color3;
        }

        .--patient-status {
            grid-area: status;
            font: bold small-caps 28px Georgia, serif;
        }

        .--patient-detail {
            grid-area: detail;
            font: 18px Georgia, sans;
            margin: 0;
            line-height: 24px !important;

            .--detail-destination::before {
                font-weight: bold;
                content: 'Destino: ';
            }

            &.--detail-familiar{
                color: red;
                font-weight: bold;
                &::before { content: 'Se requiere al familiar'; }
            }
        }

        &.--preqx {
            background-color: $color-preqx;
            box-shadow: 4px 3px 10px $color-preqx;
            .--patient-status::before { @include icon('/static/svg/preqx.svg'); }
        }
        &.--surgery {
            background-color: $color-surgery;
            box-shadow: 4px 3px 10px $color-surgery;
            .--patient-status::before { @include icon('/static/svg/surgery.svg'); }
        }
        &.--pacu {
            background-color: $color-pacu;
            box-shadow: 4px 3px 10px $color-pacu;
            .--patient-status::before { @include icon('/static/svg/pacu.svg'); }
        }
        &.--exit {
            background-color: $color-exit;
            box-shadow: 4px 3px 10px $color-exit;
            .--patient-status::before { @include icon('/static/svg/exit.svg'); }
        }
    }

	&::after {
		content: "";
		height: 30px;
		position: absolute;
		left: 0;
        right: 0;
		bottom: 0;
		z-index: 2;
        background: linear-gradient(to top,  rgba(226,226,237,1) 0%,rgba(226,226,237,0) 100%);
	}
}