@import 'variables';

.box {
    width: min(750px, 70%);
}

.summary {
    width: 600px;
    font-size: large;

    > div {
        display: grid;
        grid-template-columns: 20% auto 35%;
        grid-auto-rows: min-content;
        grid-template-areas:
            "rips estado acciones";

        > div {
            border: solid 1px $color2b;
            margin: -1px -1px 0 0;
            padding: 10px 5px;
            text-align: center;
        }

        // Titles
        &:first-child {
            font-weight: bold;
            color: $color1;
            background-color: $color3;
        }

        // Rows
        &:not(:first-child){
            // RIPS
            &:first-child { font-weight: bold; }

            // Actions
            > :nth-child(3) {
                display: flex;
                justify-content: center;

                .surgery::before { @include icon('/static/svg/surgery.svg'); }
                .pacu::before { @include icon('/static/svg/pacu.svg'); }
                .exit::before { @include icon('/static/svg/exit.svg'); }
                .relative {
                    &::before {
                        @include icon('/static/svg/relative.svg');
                        filter: hue-rotate(120deg) brightness(175%);
                    }
                    &.--relative-called::before { filter: none; }
                }

                div {
                    user-select: none;
                    cursor: pointer;
                    &::before { margin: 0; }
                }

                .disabled::before {
                    filter: invert(60%);
                    cursor: default;
                }

                div:not(.disabled):hover::before {
                    filter: invert(15%) drop-shadow(0 0 10px rgb(91, 228, 255));
                }
            }

            &:hover {
                background-color: $color2b;
                > div {  border: solid 1px $color2; }
            }
        }
    }
}

.filter {
    position: relative;
    margin: 0 auto 10px auto;

    input {
        width: 200px;
        line-height: 30px;
        padding: 3px 7px;
        border-radius: 10px;

        &:not(:placeholder-shown) ~ .clear{ display: block; }
    }

    .clear {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 7.5px;
        top: 14px;
        border: solid 1px rgb(224, 222, 222);
        border-radius: 50%;
        background-color: rgb(234, 231, 231);
        user-select: none;
        cursor: pointer;
        display: none;

        div {
            margin: 4px;
            font: 7px Arial, Helvetica, sans-serif;
        }

        &:hover {
            background-color: rgb(223, 220, 220);
            border-color: rgb(168, 168, 168);
        }
    }
}

#destination {
    font-size: 18px;

    h4 { margin: 7px; }
    p, div { margin: 0; }
    div { display: none; }
    input { font-family: Cambria; }
    .active { display: block; }
}