.box {
  width: min(750px, 70%);
}

@keyframes update-patient {
  0%, 100% {
    background-color: rgb(255, 255, 255);
  }
  35%, 50% {
    background-color: rgb(139, 227, 117);
  }
}
.summary {
  width: 600px;
  font-size: large;
}
.summary > div {
  display: grid;
  grid-template-columns: 20% auto 35%;
  grid-auto-rows: min-content;
  grid-template-areas: "rips estado acciones";
}
.summary > div > div {
  border: solid 1px rgb(186, 186, 195);
  margin: -1px -1px 0 0;
  padding: 10px 5px;
  text-align: center;
}
.summary > div:first-child {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(67, 90, 134);
}
.summary > div:not(:first-child) {
  background-color: rgb(255, 255, 255);
}
.summary > div:not(:first-child).updated-patient {
  animation: update-patient 2.5s ease-out running;
}
.summary > div:not(:first-child):first-child {
  font-weight: bold;
}
.summary > div:not(:first-child) > :nth-child(3) {
  display: flex;
  justify-content: center;
}
.summary > div:not(:first-child) > :nth-child(3) .surgery::before {
  content: "";
  margin: -1.3px 10px;
  background-image: url("/static/svg/surgery.svg");
  background-size: 25px 25px;
  background-position: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%);
}
.summary > div:not(:first-child) > :nth-child(3) .pacu::before {
  content: "";
  margin: -1.3px 10px;
  background-image: url("/static/svg/pacu.svg");
  background-size: 25px 25px;
  background-position: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%);
}
.summary > div:not(:first-child) > :nth-child(3) .exit::before {
  content: "";
  margin: -1.3px 10px;
  background-image: url("/static/svg/exit.svg");
  background-size: 25px 25px;
  background-position: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%);
}
.summary > div:not(:first-child) > :nth-child(3) .relative::before {
  content: "";
  margin: -1.3px 10px;
  background-image: url("/static/svg/relative.svg");
  background-size: 25px 25px;
  background-position: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%);
  filter: hue-rotate(120deg) brightness(175%);
}
.summary > div:not(:first-child) > :nth-child(3) .relative.--relative-called::before {
  filter: none;
}
.summary > div:not(:first-child) > :nth-child(3) div {
  user-select: none;
  cursor: pointer;
}
.summary > div:not(:first-child) > :nth-child(3) div::before {
  margin: 0;
}
.summary > div:not(:first-child) > :nth-child(3) .disabled::before {
  filter: invert(60%);
  cursor: default;
}
.summary > div:not(:first-child) > :nth-child(3) div:not(.disabled):hover::before {
  filter: invert(15%) drop-shadow(0 0 10px rgb(91, 228, 255));
}
.summary > div:not(:first-child):hover {
  background-color: rgb(186, 186, 195);
}
.summary > div:not(:first-child):hover > div {
  border: solid 1px rgb(226, 226, 237);
}

.filter {
  position: relative;
  margin: 0 auto 10px auto;
}
.filter input {
  width: 200px;
  line-height: 30px;
  padding: 3px 7px;
  border-radius: 10px;
}
.filter input:not(:placeholder-shown) ~ .clear {
  display: block;
}
.filter .clear {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 7.5px;
  top: 14px;
  border: solid 1px rgb(224, 222, 222);
  border-radius: 50%;
  background-color: rgb(234, 231, 231);
  user-select: none;
  cursor: pointer;
  display: none;
}
.filter .clear div {
  margin: 4px;
  font: 7px Arial, Helvetica, sans-serif;
}
.filter .clear:hover {
  background-color: rgb(223, 220, 220);
  border-color: rgb(168, 168, 168);
}

#destination {
  font-size: 18px;
}
#destination h4 {
  margin: 7px;
}
#destination p, #destination div {
  margin: 0;
}
#destination div {
  display: none;
}
#destination input {
  font-family: Cambria;
}
#destination .active {
  display: block;
}
