<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui-1.13.1/jquery-ui.css') }}">
    <!-- Optional Style -->
    {% block style %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- jQuery first -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.13.1/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Optional JavaScript -->
    {% block scripts %} {% endblock %}
    <!-- Page Content -->
    {% block content %} {% endblock %}
  </body>
</html>
