{% extends 'base.html' %}

{% block title %} Tablero {{ ActivePatients.locations[location]['title'] }} {% endblock %}

{% block style %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/board.css') }}">
{% endblock %}

{% block content %}
    <div class="board">
      <div class="icon"></div>
      <div class="title">{{ ActivePatients.locations[location]['title'] }}</div>
      <div class="time"></div>
      <div class="videos">
        <div class="--tv">
          <div class="--tv-antenna --tv-antenna-left"></div>
          <div class="--tv-antenna --tv-antenna-right"></div>
          <div class="--tv-base --tv-base-left"></div>
          <div class="--tv-base --tv-base-right"></div>
          <div class="--tv-outer">
            <div class="--tv-inner">
              <video id="comm" autoplay>
              <script src="{{ url_for('static', filename='js/comm.js') }}"></script>
            </div>
          </div>
        </div>
      </div>
      <div id="patients"></div>
    </div>
{% endblock %}

{% block scripts %}
  {% if location %}
    <script src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
    <script type="text/javascript">const patientLocation = '{{ location if location else "" }}';</script>
    <script src="{{ url_for('static', filename='js/board.js') }}"></script>
  {% endif %}
{% endblock %}
