{% extends 'base.html' %}

{% block title %} Tablero - Registrar Evento {% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {% if not location in ActivePatients.locations.keys() %}
        <div class="box locations">
            <h2>Elegir Servicio</h2>
            {% for key, vals in ActivePatients.locations.items() %}
                <div onclick="window.location = `{{ url_for('.index', location = key) }}`;">{{ vals['title'] }}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="box">
            <h2>Pacientes Ingresados En {{ ActivePatients.locations[location]['title'] }}</h2>
            <div class="input-group filter">
                <input type="text" placeholder="-" id="filter">
                <label for="filter">RIPS</label>
                <div class="clear" onclick="$('#filter').val(''); socket.emit('filter-patients', [patientLocation, null]);">
                    <div>&#x274C;</div>
                </div>
            </div>
            <div class="summary">
                <div>
                    <div>RIPS</div>
                    <div>Estado actual</div>
                    <div>Acciones</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if location %}
        <script src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
        <script type="text/javascript">const patientLocation = '{{ location if location else "" }}';</script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endif %}
{% endblock %}
